<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission-sdk-23 android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme._3T_appdatvexemphim"
        tools:targetApi="31">
        <activity
            android:name=".rapbapnuocActivity"
            android:exported="false" />
        <activity
            android:name=".TrangchuActivity"
            android:exported="false" />
        <activity
            android:name=".XacThucTaiKhoanActivity"
            android:exported="false" />
        <activity
            android:name=".KhoiPhucTaiKhoanActivity"
            android:exported="false" />
        <activity
            android:name=".CTRapActivity"
            android:exported="false" />
        <activity
            android:name=".RAPActivity"
            android:exported="false" />
        <activity
            android:name=".QuenMKActivity"
            android:exported="true"> <!-- Bắt buộc phải là true với activity launchable -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".BapNuoc"
            android:exported="false" />
        <activity
            android:name=".UuDai"
            android:exported="false" />
        <activity
            android:name=".VoucherLichSu"
            android:exported="false" />
        <activity
            android:name=".VoucherHome"
            android:exported="false" />
        <activity
            android:name=".PhuongThucThanhToan"
            android:exported="false" />
        <activity
            android:name=".AddVoucher"
            android:exported="false" />
        <activity
            android:name=".ThanhToan"
            android:exported="false" />
        <activity
            android:name=".formSignIn"
            android:exported="false" />
        <activity
            android:name=".DatGhe"
            android:exported="false" />
        <activity
            android:name=".SuatChieu"
            android:exported="false" />
        <activity
            android:name=".hello"
            android:exported="false" />

        <!-- MainActivity không còn là màn hình chính nữa -->
        <!-- Các Activity khác không cần exported nếu không cần khởi chạy từ ngoài ứng dụng -->
        <activity
            android:name=".DSphimhhActivity"
            android:exported="false" />
        <activity
            android:name=".HelpActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>